<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title%}{% endblock%}</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
	 <nav class="navbar-inverse visible-lg visible-md" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">首页</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">我的同事</a></li>
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">联系人</a></li>
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">通话记录</a></li>
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">数据统计</a></li>
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">工单</a></li>
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">便签</a></li>
                </ul>
            </div>
        </div>
     </nav>
</body>
</html>