<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加客户信息</title>
	{% from 'include_base.html' import css_js %}
    {{ css_js() }}
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap-table.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.bootcss.com/sweetalert/2.1.2/sweetalert.min.js"></script>
	<style type="text/css">
		/*编辑按钮*/
			.form-container {
			  position: fixed;
			  left: 400px;
			  top: 300px;
			  /*border: solid red 1px;*/
			  width: 500px;
			  /*margin: 0 auto;*/						/*对fixed元素的定位不起作用*/
			  color: #4985ff;
			  display: none;
			}

		/*增加客户按钮*/
			.form-add-container {
			  position: fixed;
			  left: 400px;
			  top: 300px;
			  /*border: solid red 1px;*/
			  width: 500px;
			  /*margin: 0 auto;*/						/*对fixed元素的定位不起作用*/
			  color: #4985ff;
			  display: none;
			}

			.bt{							/*确定按钮居中*/
				text-align: center;
			}


			.mask { 	/*遮罩层暂时不需要*/
				position: absolute;					/*根据父节点来进行定位*/
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				background: #000;
				opacity: 1;
				display: none;
			}

			/*.search{*/
			/*	float: none;*/
			/*}*/

			.add_client{
				margin: 0 100px 0 10px;			/*上右下左 和浏览器显示的不一样*/
				display: block;
			}

            .class-li {
                height: 34px;
            }

            #id-ul {

                top: 10px;
                background: #FFFFFF;
                border: 1px solid #71798a;
                width: 100%;
                height:150px;
                border-radius: 5px;
                overflow: scroll;
                display: none;
            }
	</style>
</head>
<body>
	<!--左侧导航栏-->
    {% include 'include_base.html' %}


	<!--modal框，新增一个客户-->
	<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >新增客户</h4>
                </div>

            <form >
                <div class="modal-body">

                    <div class="form-group" style="position: relative;">
                        <label >客户名</label>
                        <input type="text" class="form-control ipt-add-name"  placeholder="client name" required>
                        <ul id="id-ul">

                        </ul>
                    </div>

                    <div class="form-group">
                        <label >客户所在公司</label>
                        <input type="text" class="form-control ipt-add-company" id="company" placeholder="(必填)company" required>
                    </div>
                    <div class="form-group">
                        <label >性别</label>
                        <select class="form-control select-sex">
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label >联系电话</label>
                        <input type="text" class="form-control ipt-add-phone"  placeholder="phone" required>
                    </div>
                    <div class="form-group">
                        <label >职位</label>
                        <input type="text" class="form-control ipt-add-position"  placeholder="position" required>
                    </div>
                    <div class="form-group">
                        <label >qq</label>
                        <input type="text" class="form-control ipt-add-qq"  placeholder="qq" required>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary btn-add-company" data-dismiss="modal">
                        增加新客户
                    </button>
                </div>
            </form>

            </div>
        </div>
    </div>


	<!--modal框，修改客户信息-->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="#myModalLabel">修改客户名字</h4>
                </div>

            <form id="form-update_user_info">
                <div class="modal-body">
					<div class="form-group">
                        <label >id</label>
                        <input type="text" class="form-control ipt-id"  placeholder="请一定保证正确" required>
                    </div>
                    <div class="form-group">
                        <label >客户名</label>
                        <input type="text" class="form-control ipt-update-name"  placeholder="company name" required>
                    </div>

                    <div class="form-group">
                        <label >客户所在公司</label>
                        <input type="text" class="form-control ipt-update-phone"  placeholder="company phone" required>
                    </div>
                    <div class="form-group">
                        <label >性别</label>
                        <input type="text" class="form-control ipt-update-address"  placeholder="company address" required>
                    </div>
                    <div class="form-group">
                        <label >联系电话</label>
                        <input type="text" class="form-control ipt-update-industry"  placeholder="industy" required>
                    </div>
                    <div class="form-group">
                        <label >客户email</label>
                        <input type="text" class="form-control ipt-update-range"  placeholder="route range" required>
                    </div>
                    <div class="form-group">
                        <label >职位</label>
                        <input type="text" class="form-control ipt-update-range"  placeholder="route range" required>
                    </div>
                    <div class="form-group">
                        <label >qq</label>
                        <input type="text" class="form-control ipt-update-range"  placeholder="route range" required>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary btn-update-company" data-dismiss="modal">
                        提交修改
                    </button>
                </div>
            </form>

            </div>
        </div>
    </div>

    <!--toolbar工具集  bootstrap表格，显示所有客户信息-->
	<div class="client col-md-10">
		 <div class="panel-body form-inline">
			 <span class="glyphicon glyphicon-search"></span>
				<label>
					<input type="text" class="form-control ipt-search">
				</label>
				<button type="submit" class="btn btn-primary">Search</button>
			 <label style="position: relative; left: 300px">增加新客户</label>
			 <button class="btn btn-primary" style="position: relative; left: 300px" data-toggle="modal" data-target="#addModal">new client</button>
		 </div>
		<table class="table table-hover client">
			<caption>客户信息表</caption>
			<tr class="head">
				<th>id</th>
				<th>客户名</th>
				<th>客户所在公司</th>
				<th>性别</th>
				<th>联系电话</th>
                <th>客户email</th>
				<th>职位</th>
				<th>qq</th>

			</tr>

			{% for c in clients %}
				<tr class="infos">
					<td class="td-cid">{{ c.id }}</td>
					<td>{{ c.name }}</td>
                    <td>{{ c.com.name }}</td>
					<td>{{ c.sex }}</td>
					<td>{{ c.phone }}</td>
					<td>{{ c.email }}</td>
                    <td>{{ c.position }}</td>
                    <td>{{ c.qq }}</td>

					<td><button class="edit btn btn-info" data-toggle="modal" data-target="#editModal">修改</button>
						<button class="delete btn btn-danger" >删除</button></td>
				</tr>
			{% endfor%}

		</table>

		<nav aria-label="...">
		    <ul class="pagination">
				<li>
					{% if pagination.has_prev %}
				    <a href="?page={{ pagination.prev_num }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
					{% else %}
                        <span aria-hidden="true">&laquo;</span>
                    {% endif %}
				</li>

				<li class="">
					<a href="?page=1"><span>1</span></a>
				</li>
				<li >
				    <a href="?page=2"><span>2</span></a>
				</li>
				<li >
				    <a href="?page=3"><span>3</span></a>
				</li>
				<li >
				    <span>... <span class="sr-only">(current)</span></span>
				</li>
				<li >
				    <a href="?page={{ pagination.pages }}"><span>{{ pagination.pages }}</span></a>
				</li>

				<li>
					{% if pagination.has_next %}
				    <a href="?page={{ pagination.next_num }}" aria-label="Previous">
						<span aria-hidden="true">&raquo;</span>
					</a>
					{% else %}
                        <span aria-hidden="true">&raquo;</span>
                    {% endif %}
				</li>
			</ul>

			<p>共有{{ pagination.pages }}页， 当前是第<span style="color: #ff4966">{{ pagination.page }}</span>页</p>
		</nav>
	</div>


</body>

	<!--工具函数-->
	<script>
		var ajax = function (url, type, data, callback) {
			$.ajax({
				type: type,
				url: url,
				data: data,
				success: callback,
      		});
		}

		var log = console.log.bind(console)
	</script>

    <!--oninput事件，发送ajax请求，动态生成很多备选项-->
    <script>
        var ipt = document.querySelector("#company")
        ipt.oninput = function () {
            var v = $("#company").val()
            log("value", v)
            ajax('find/companys', 'post', {'data': v}, function (r) {
                // 动态生成很多的li
                //log(r, typeof r)
                var ul = $("#id-ul")
                var li = ''
                for (var i = 0; i < r.length; i++) {
                    li += `<li class="class-li">${r[i]}</li>`
                    ul.html(li)
                }
                ul.on("mouseover",'.class-li',  function () {
                    console.log($(this));
                    $(this).css("color", "white")
                    $(this).css("background-color","#286090");
                })

                ul.on("mouseout", '.class-li', function () {
                    $(this).css("color", "black")
                    $(this).css("background-color","white");
                })
                ul.on("click", '.class-li',function () {
                    $t = $(this).text()
                    log("文字", $t)
                    $("#company").val($t)
                    $('#id-ul').hide()
                })
                ul.show()
            })
        }
    </script>

	<!--新增客户-->
	<script>
		$(".btn-add-company").click(function() {

			var name = $(".ipt-add-name").val()
            var company = $(".ipt-add-company").val()
            var sex = $('.select-sex').find('option:selected').val()
			var phone = $(".ipt-add-phone").val()
			var position = $(".ipt-add-position").val()
			var qq  = $(".ipt-add-position").val()

			data = {}
			data.name = name
            data.company = company
            data.sex = sex
            data.phone = phone
            data.position = position
            data.qq = qq
            log("data", data)
			ajax('new/client', 'post', data, function(r) {
				if (r === 'new success') {
					log("创建新客户成功")
                    swal('创建新客户成功！', {
                        icon: "success",
                    });

					setTimeout(function () {                // 2秒之后刷新页面
                        location.reload()
                    }, 2000)
				}
			})
		})
	</script>

	<!--删除client，弹出sweet-alert提示框-->
	<script>
		$('.delete').click(function () {
			swal({
				title: "确定删除？",
				text: "删除后不恢复，确定是否删除这家公司!",
				icon: "warning",
				buttons: true,
				dangerMode: true,
			})
			.then((willDelete) => {
				if (willDelete) {
					// 前端删除
					$td = $(this).parent().siblings(":first")
					$tr = $td.parent()
                    log('td', $tr)
					$tr.remove()

					// 后端删除
					var id = $td.text()
					log('id', id)
					d = {}
					d.id = id
					ajax('delete/client', 'post', d, function(r) {
					    // 提示删除成功
						if (r === 'delete success') {
							swal('您已成功删除这家公司！', {
								icon: "success",
							});
						}
					})
				}
				else {
					swal("您的操作已取消")
				}
			});

		})
	</script>

	<!--编辑公司信息-->
	<script>
		$('button.btn-update-company').click(function () {
			var c_id = $('.ipt-id').val()
			var c_name = $('.ipt-update-name').val()
			var c_phone = $('.ipt-update-phone').val()
			var c_address = $('.ipt-update-address').val()
			var c_industry = $('.ipt-update-industry').val()
			var c_range = $('.ipt-update-range').val()

			data = {}
			data.c_id = c_id
			data.c_name = c_name
			data.c_phone = c_phone
			data.c_address = c_address
			data.c_industry = c_industry
			data.c_range = c_range
			log('点击提交按钮', data)
			ajax('/update/company', 'post', data, function (r) {
				if (r === 'update success') {
					log('编辑成功')
				}
			})
		})
	</script>

	<!--search搜索框-->
	<script>
        $(".ipt-search").change(function () {
            var value = $(this).val()
            log("value", value)
            ajax('search/company', 'post', function (r) {
                var d = JSON.parse(r)
                var result = `<td>${d.id}</td>
                                <td>${d.name}</td>
                                <td>${d.company}</td>
                                <td>${d.sex}</td>
                                <td>${d.phone}</td>
                                <td>${d.email}</td>
                                <td>${d.position}</td>
                                <td>${d.qq}</td>`
                $("tr.infos").html(result)
            })
        })
	</script>


