<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>首页</title>
	<link rel="stylesheet" type="text/css" href="static/css/nav.css">
	<link rel="stylesheet" type="text/css" href="static/font/iconfont.css">
	<script type="text/javascript" src="static/js/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/nav.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
	<style type="text/css">
		* {
			margin: 0;
			padding: 0;
		}
		.nav {
			float: left;
		}

	</style>
</head>
<body>
	<div class="nav">
		<div class="nav-top">
			<div id="mini" style="border-bottom:1px solid rgba(255,255,255,.1)"><img src="images/mini.png" ></div>
		</div>
		<ul>
			<li class="nav-item">
				<a href="javascript:;"><i class="my-icon nav-icon icon_1"></i><span>用户中心</span><i class="my-icon nav-more"></i></a>
				<ul>
					<li><a href="javascript:;"><span>添加账号</span></a></li>
					<li><a href="javascript:;"><span>修改账号信息</span></a></li>
					<li><a href="javascript:;"><span>删除账号</span></a></li>
				</ul>
			</li>
			<li class="nav-item">
				<a href="javascript:;"><i class="my-icon nav-icon icon_2"></i><span>客户管理</span><i class="my-icon nav-more"></i></a>
				<ul>
					<li><a href="javascript:;"><span>添加客户信息</span></a></li>
					<li><a href="javascript:;"><span>修改客户信息</span></a></li>
					<li><a href="javascript:;"><span>删除客户信息</span></a></li>
				</ul>
			</li>
			<li class="nav-item">
				<a href="javascript:;"><i class="my-icon nav-icon icon_3"></i><span>数据统计</span><i class="my-icon nav-more"></i></a>
				<ul>
					<li><a href="javascript:;"><span>订单列表</span></a></li>
					<li><a href="javascript:;"><span>待完善</span></a></li>
					<li><a href="javascript:;"><span>待完善</span></a></li>
				</ul>
			</li>
			<li class="nav-item">
				<a href="javascript:;"><i class="my-icon nav-icon icon_4"></i><span>话务中心</span><i class="my-icon nav-more"></i></a>
				<ul>
					<li class="call_record"><a href="javascript:;"><span>通话记录</span></a></li>
					<li><a href="javascript:;"><span>分机管理</span></a></li>
					<li class="voice_record"><a href="javascript:;"><span>通话录音</span></a></li>
				</ul>
			</li>
			<li class="nav-item">
				<a href="javascript:;"><i class="my-icon nav-icon icon_4"></i><span>系统管理</span><i class="my-icon nav-more"></i></a>
				<ul>
					<li><a href="javascript:;"><span>订单列表</span></a></li>
					<li><a href="javascript:;"><span>待完善</span></a></li>
					<li><a href="javascript:;"><span>待完善</span></a></li>
				</ul>
			</li>
		</ul>
	</div>

	<iframe src="http://106.15.44.224/testWeb" width="82.5%" height="100%" frameborder="0" scrolling="no" id="iframe"></iframe>

	<div id="content">

	</div>
	<script>
		$('.call_record').on("li, click", function() {					//点击改变到通话记录页面
			console.log('通话记录的li测试')
			$('#iframe').attr('src', 'http://106.15.44.224/call_record')
			//$('#iframe').attr('src', 'http://127.0.0.1/call_record')
		});

		$(".voice_record").on("li, click", function() {					//点击改变到录音记录页面
			console.log('录音记录的li测试')
			$('#iframe').attr('src', 'http://106.15.44.224/voice_record')
			//$('#iframe').attr('src', 'http://127.0.0.1/voice_record')
		});
	</script>
</body>
</html>