<!DOCTYPE html>
<html>

<head>
    <title>AliWebRTC Demo</title>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../static/css/aliyun_webrtc/index.css" />
    <script src="../static/js/aliyun_webrtc/jquery-1.10.2.min.js"></script>
    <script src="../static/js/aliyun_webrtc/aliyun-webrtc-sdk-1.10.1.min.js"></script>
    <script src="../static/js/aliyun_webrtc/utils.js"></script>
</head>

<body>

    {% if request.args.get("roomId") %}
        <script>
            $(".main-input input").val(request.args.get("roomId"))
            $(".main-button").trigger("click")
        </script>
    {% endif %}

    <div class="login">
        <div class="main">
            <div class="main-title">
                <span>音视频通信</span>
            </div>
            <div class="main-input">
                <input type="text" placeholder="请输入房间号">
            </div>
            <div class="main-button">
                <button>进入房间</button>
            </div>
        </div>
    </div>
    <div class="main-web" style="display: none;">
        <div class="remote-user-list">
            <h2>房间成员</h2>
            <ul class="user-ul"></ul>
        </div>
        <div class="container-box">
            <div class='local-display-name'>
                <span class="username">User: <b></b></span>
                <span class="channelid">Channel Id: <b></b></span>
                <span class="streamstate">推流状态：<b></b></span>
                <div class="control-btn">
                    <button class="toggle-audio default" data-role="audio">关闭声音</button>
                    <button class="toggle-camera default" data-role="camera" style="visibility: visible">关闭视频流</button>
                    <button class="toggle-screen default" data-role="screen" style="visibility: hidden">关闭共享流</button>

                </div>
            </div>

            <div class='publisher'>
                <button class="select-preview">关闭预览</button>
                <button class="push-stream">停止推流</button>&nbsp;&nbsp;
                <span class="streamType">
                    <label for="cameraPublisher">推视频流</label>
                    <input id="cameraPublisher"
                        type="radio"
                        name="streamType"
                        checked
                    />&nbsp;
                    <label for="screenPublish">推共享流</label>
                    <input
                        id="screenPublish"
                        type="radio"
                        name="streamType"
                    />
                </span>
            </div>
            <div class='local-video'>           <!--最大的那个屏幕-->
                <video autoplay playsinline controls="true"></video>
            </div>
        </div>

        <div class="video-container"></div>     <!--其他用户推送的流-->
    </div>
</body>

</html>

<script   >
    /**
     * 必须使用https
     */
    // var AppServerUrl = "https://127.0.0.1/app/v1/login"
    var AppServerUrl = "/app/v1/login"
    var channelId;
    var userName = Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 5);     // 用户名随机取
    var publisherList = [];             //
    var localVideoWH = {}

    /**
     * AliWebRTC isSupport检测
     */
    AliRtcEngine.isSupport().then(re => {           // 进入此页面就会执行这段程序
        console.log(re);
        init();                 // 初始化调用，各种监听
    }).catch(err => {
        alert(err.message);
    })

    var aliWebrtc;
    function init() {
        aliWebrtc = new AliRtcEngine("");
        /**
         * remote用户加入房间 onJoin
         * 更新在线用户列表
         */
        console.log('新创建一个aliWebrtc成功，开始监听各种事件')
        aliWebrtc.on('onJoin', (publisher) => {
            if(publisher.userId){
                console.log('更新在线用户列表')
                updateUserList();
            }
        });
        /**
         * remote流发布事件 onPublish
         * 将该用户新增到推流列表
         */
        aliWebrtc.on('onPublisher', (publisher) => {
            initialization(publisher.userId)
            console.log("onPublisher", publisher);
            console.log('发布了流的publisherInfo', publisher)
            // 自动订阅
            let streamTypeList = publisher.streamConfigs.filter(item => {
                return item.state === "active";
            });
            let userId = publisher.userId
            console.log('streamTypeList', streamTypeList, userId)
            if(streamTypeList.length === 0){
                console.log('信息缺失，没有推流')
            }else{
                streamTypeList.map(item => {
                    if(item.type === "video"){
                        if (item.label === "sophon_video_camera_large") {
                            aliWebrtc.configRemoteCameraTrack(userId, true, true)
                            aliWebrtc.configRemoteAudio(userId, true);
                            aliWebrtc.subscribe(userId).then((userId)=>{
                                var dom = getDisplayRemoteVideo(userId, "sophon_video_camera_large")
                                aliWebrtc.setDisplayRemoteVideo(userId, dom, 1);
                                console.log('自动订阅视频流')
                            },(error)=>{
                                console.log(error.message);
                            });
                        } else if (item.label === "sophon_video_screen_share") {
                            aliWebrtc.configRemoteScreenTrack(userId, true)
                            aliWebrtc.configRemoteAudio(userId, true);
                            aliWebrtc.subscribe(userId).then((userId)=>{
                                var dom = getDisplayRemoteVideo(userId, "sophon_video_screen_share")
                                aliWebrtc.setDisplayRemoteVideo(userId, dom, 2);
                                console.log('自动订阅分享流')
                            },(error)=>{
                                console.log(error.message);
                            });
                        }
                    }
                })
            }

            let index = publisherList.getIndexByProprety(publisher.userId, "userId");
            if (index === -1) {
                console.log('将该用户新增到推流列表')
                publisherList.push(publisher);
            }
            console.log("publisherList", publisherList);
            // 订阅此publisher

        });

        /**
         * remote流结束发布事件 onUnPublisher
         * 推流列表删除该用户
         * 移除用户视图
         * 初始化订阅状态
         */
        aliWebrtc.on('onUnPublisher', (publisher) => {
            console.log('onUnPublisher',publisher);
            detelePublisher(publisher.userId);
            removeDom(publisher.userId);
            initialization(publisher.userId);
        });

        /**
         *  错误信息
         */
        aliWebrtc.on('onError', (error) => {
            console.warn('error',error);
            var msg = error && error.message ? error.message : error;
            if (msg && msg.indexOf('no session') > -1) {
                msg = "请重新登录：" + msg;
            }
            if (msg && msg.indexOf('screen share error') > -1) {
                msg = "屏幕共享已取消";
            }

            if(error.code == 15) {
                msg = "没有开启H5兼容";
            }
            if(error.type === "publish") {
                console.log("推流断开 需要停止推流");
                $(".push-stream").click();
            }
            if(error.type === "subscribe") {
                console.log("订阅断开 取消订阅该userId的所有订阅并移除所有该userId的dom")
                aliWebrtc.unSubscribe(error.userId).then(re => {
                    console.log("订阅断开 取消订阅成功");
                }).catch(err => console.log("订阅断开 取消订阅失败", err))

                detelePublisher(error.userId);
                removeDom(error.userId);
            }
            alert(msg);

        });

        /**
         * 检测到用户离开频道
         * 更新用户列表
         * 更新publisherInfo
         * 移除用户视图
         */
        aliWebrtc.on('onLeave', (publisher) => {
            initialization(publisher.userId);
            console.log('用户离开')
            updateUserList();
            removeDom(publisher.userId);
        })


    }

    /**
     * 加入房间
     * 触发：输入房间号、单击加入房间按钮
     * 更新页面信息
     * 默认开启预览
     * 获取鉴权信息
     * 加入房间
     * 本地默认自动推视频流（视频流 + 音频流）
     * 发布本地流
     */
    function joinroom() {
        $('.local-display-name .username b').text(userName);
        $('.local-display-name .channelid b').text(channelId);
        $('.local-display-name .streamstate b').text('当前未推流');
        //1.预览
        var localVideo = $('.local-video video');
        aliWebrtc.startPreview(localVideo[0]).then((obj) => {
            }).catch((error) => {
            alert(error.message);
        });
        //2. 获取频道鉴权令牌参数 -->
        getRTCAuthInfo().then((authInfo) => {
            //3. 加入房间 默认推音频视频流
            aliWebrtc.joinChannel(authInfo, userName).then(() => {
                console.log('加入房间成功');
                // 4. 发布本地流
                aliWebrtc.configLocalAudioPublish = true;
                aliWebrtc.configLocalCameraPublish = true;
                // 设置视频流的参数
                settingCamera(640, 480, 10)
                aliWebrtc.publish().then((res) => {
                    console.log('发布本地流成功');
                    $('.local-display-name .streamstate b').text('视频流');
                }, (error) => {
                    alert(error.message);
                });
            }).catch((error) => {
                alert(error.message);
            })
        }).catch((error) => {
            alert(error.message);
        });
    }

    /**
     * 更新在线用户列表
     */
    var updateUserList = () => {
        $('.user-ul').empty();
        let userList = aliWebrtc.getUserList();
        console.log('在线人数的信息userList', userList)
        let frg = document.createDocumentFragment();
        userList.map((user) => {
            let html = $('<li class="user-ul-li">' + user.displayName + '<ul class="menu"></ul></li>');
            $(html).bind('mouseover',user.userId,showUserMenu).bind('mouseleave',hideUserMenu);
            frg.append(html[0]);
        })
        $('.user-ul').append($(frg));

    }



    /**
     * 获取频道鉴权令牌参数这个方法需要客户重新实现，调用RTC服务的Open API获取
     */
    var getRTCAuthInfo = () => {
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: AppServerUrl,
                type: 'POST',
                data: {'room': channelId, 'user': userName, 'passwd': '1234'},
                success: (data) => {
                    data.data.channel = channelId;              // 增加一项channel数据
                    resolve(data.data);
                },
                failed: (error) => {
                    reject(error);
                }
            });
        });
    }

    /**
     * 获取当前remote用户的流菜单
     */
    var showUserMenu = (evt) => {
        let userId = evt.data
        if(!$(event.target).eq(0).hasClass('user-ul-li')){
            return
        }
        $('.menu').hide();
        $(event.target).find('.menu').empty().show();
        let userInfo = aliWebrtc.getUserInfo(userId);
        console.log('直接切换后更新的userInfo')
        let streamTypeList = userInfo.streamConfigs.filter(item => {
            return item.state === "active";
        });

        var html = ""
        if(streamTypeList.length == 0){
            html = $('<li>该用户未推流</li>')
            $(event.target).find('.menu').append(html[0])
        }else{
            var frg = document.createDocumentFragment()
            streamTypeList.map(item => {
                item.userId = userId
                var labelName = ""
                if(item.type === "video"){
                    switch (item.label) {
                        case "sophon_video_camera_large":
                            labelName = "视频流";
                            break;
                        case "sophon_video_screen_share":
                            labelName = "共享流";
                            break;
                        case "sophon_audio":
                            labelName = "";
                            break;
                        default:
                            labelName = "";
                    }
                } else {
                    labelName = "";
                }
                //将音频流或小流的标签不显示
                if(labelName !== ""){
                    let subState = item.subscribed === true ? "取消订阅" : "订阅"
                    html = $('<li>'+ labelName +'&nbsp;<span>'+ subState +'</span></li>')
                    $(html).find('span').off("click").on("click", item, unSub)
                    frg.append(html[0])
                }
            })
            $(event.target).find('.menu').append($(frg))
        }


    }

    /**
     * 隐藏当前remote用户的流菜单
     */
    var hideUserMenu = () => {
        $(event.currentTarget).find('.menu').hide()
    }

    /**
     * 订阅&取消订阅
     */
    var unSub = (evt) => {
        console.log('点击订阅&取消订阅', evt)
        let v = evt.data
        console.log(v)
        if(v.subscribed){
            setConfigRemote(v.userId, v.label).then(re => {
                removeDom(v.userId, v.label)
                console.log('取消订阅')
            });
        }else {
            receivePublishManual(v).then(re => {
                creatDomAndshowRemoteVideo(v)
                console.log('订阅成功')
                console.log('订阅成功的信息', v)
            });
        }
        $('.menu').hide()
    }


    /**
     * 获取dom标签 设置video
     */
    var creatDomAndshowRemoteVideo = (v) => {
        var dom = getDisplayRemoteVideo(v.userId, v.label)
        if (v.label != "sophon_video_screen_share") {
            aliWebrtc.setDisplayRemoteVideo(v.userId, dom, 1);
        } else {
            aliWebrtc.setDisplayRemoteVideo(v.userId, dom, 2);
        }
    }

    /**
     * 创建获取订阅的remote的video标签
     */
    var getDisplayRemoteVideo = function (userId, label) {
        var label = label === 'sophon_video_camera_large' ? 'camera' : 'screen'
        var id = userId + '_' + label;
        var videoWrapper = $('#' + id);
        if (videoWrapper.length == 0) {
            var userInfo = aliWebrtc.getUserList().filter(item => {
                return item.userId === userId;
            })
            var displayName = userInfo[0].displayName;
            videoWrapper = $('<div class="remote-subscriber" id=' + id + '> <video autoplay playsinline></video><div class="display-name"></div></div>');
            $('.video-container').append(videoWrapper);

        }
        videoWrapper.find('.display-name').text(displayName);
        return videoWrapper.find('video')[0];
    }

    /**
     * 移除dom
     */
    var removeDom = (userId, label) => {
        if(userId) {
            if(!label){
                $("#" + userId + "_camera").remove();
                $("#" + userId + "_screen").remove();
            }else {
                label = label === 'sophon_video_camera_large' ? 'camera' : 'screen'
                $("#" + userId + "_" + label).remove();
            }
        }
    }

    /**
     * 取消订阅设置
     */
    var setConfigRemote = (userId, label) => {
        return new Promise((resolve, reject) => {
            //demo中只订阅大流
            if (label === "sophon_video_camera_large") {
                aliWebrtc.configRemoteCameraTrack(userId, false, false);
                aliWebrtc.configRemoteAudio(userId,false)
            } else if (label === "sophon_video_screen_share") {
                aliWebrtc.configRemoteScreenTrack(userId, false);
            }
            aliWebrtc.subscribe(userId).then(re => {
                    resolve();
                }).catch(err => console.log("取消订阅失败", err))
            });
    }



    /**
     * 订阅设置
     */
    var receivePublishManual = (v)  =>{
        console.log("receivePublishManual订阅", v);
        return new Promise((resolve, reject) => {
            if (v.label === "sophon_video_camera_large") {
                console.log("订阅固定视频流");
                aliWebrtc.configRemoteCameraTrack(v.userId, true, true);
                aliWebrtc.configRemoteAudio(v.userId, true);
            } else if (v.label === "sophon_video_screen_share") {
                console.log("订阅屏幕共享流");
                aliWebrtc.configRemoteScreenTrack(v.userId, true);
                aliWebrtc.configRemoteAudio(v.userId, true);
            }
            aliWebrtc.subscribe(v.userId).then(re => {
                resolve();
            }).catch((err) => {
                reject(err);
                alert(err.message);
            });
        })
    }

    /**
     * 获取本地video的dom信息**/
    var domWH_position = function () {
        let localVideo = document.querySelector(".local-video video")
        let w = localVideo.offsetWidth
        let h = localVideo.offsetHeight
        let top = $(".local-video video").offset().top
        let left = $(".local-video video").offset().left
        return {
            width: w, height: h, top: top, left: left
        }
    }

    /**
     * 用户停止推流时 删除用户列表中该用户
     */
    var detelePublisher = (userId) => {
        let index = publisherList.getIndexByProprety(userId, "userId");
        if (index != -1) {
          publisherList.splice(index, 1);
          this.detelePublisher(userId);
          console.log('更新数据')
          uploadPublisherUserinfo()
          console.log('更新服务器中的推送流列表')
        } else {
          console.log("未找到之前的推流数据");
        }
    }

    /**
     * 进入房间
     */
    $('.main-button button').click(() => {                      // 监听的按钮，进入房间
        var value = $('.main-input input').val();
        if(!value){
            alert('请输入房间号')
            return
        }
        channelId = value
        joinroom()

        $('.login').hide()
        $('.main-web').show()
        localVideoWH = domWH_position()
    })


    /**
     * 将发布了流的用户信息上传到服务器保存
     * **/
    var uploadPublisherUserinfo = (publisherList) => {
        $.ajax({
                url: '/upload/Publisher',
                type: 'POST',
                data: {'publish': publisherList},
                success: (data) => {
                    console.log('发布流的信息', data)
                },
                failed: (error) => {
                    reject(error);
                }
            });
    }


    /**
     * 控制预览
     */
    $('.publisher .select-preview').click(function(e) {
        var localVideo = $('.local-video video');
        if($(this).text() === '开启预览'){
            $(this).text('处理中...')
            aliWebrtc.startPreview(localVideo[0]).then((obj) => {
                setTimeout(() => {
                    $(this).text('关闭预览')
                },2500)
            }).catch((error) => {
                setTimeout(() => {
                    $(this).text('开启预览')
                },2500)
                alert(error.message);
            });
        }else if($(this).text() === '关闭预览') {
            $(this).text('处理中...')
            aliWebrtc.stopPreview().then((re) => {
                setTimeout(() => {
                    $(this).text('开启预览')
                },2500)
            }).catch((error) => {
                setTimeout(() => {
                    $(this).text('关闭预览')
                },2500)
                alert(error.message);
            });
        }else {
            return
        }
    })

    /**
     * 控制推流选项
     */
    $('.publisher .streamType input').click(function(e) {
        var config = $(this).attr('id')
        if(config === 'cameraPublisher'){
            let screenEnable = aliWebrtc.configLocalScreenPublish
            aliWebrtc.configLocalAudioPublish = true
            aliWebrtc.configLocalCameraPublish = true
            aliWebrtc.configLocalScreenPublish = false

            console.log('选择开启视频流')

            if (screenEnable) {
                console.log('先停止推共享流')
                aliWebrtc.unPublish().then((re)=>{
                    setTimeout(() => {
                        $('.local-display-name .streamstate b').text('开启共享流')
                    },3500)
                    aliWebrtc.publish().then(re=>{
                        console.log(re);
                        $(this).text("停止推流")
                            if(aliWebrtc.configLocalScreenPublish) {
                                $('.local-display-name .streamstate b').text('共享流')
                                $('.control-btn button.toggle-screen').css('visibility', 'visible')
                                $('.control-btn button.toggle-camera').css('visibility', 'hidden')
                            } else {
                                $('.local-display-name .streamstate b').text('视频流')
                                $('.control-btn button.toggle-camera').css('visibility', 'visible')
                                $('.control-btn button.toggle-screen').css('visibility', 'hidden')
                            }
                    }).catch(error => {
                        console.log('错误消息', error.message)
                    })
                } ,(err)=>{
                    console.log('停止屏幕流，切换出错',err.message);
                });
            }

        }else {
            let cameraEnable = aliWebrtc.configLocalCameraPublish
            aliWebrtc.configLocalAudioPublish = true
            aliWebrtc.configLocalCameraPublish = false
            aliWebrtc.configLocalScreenPublish = true
            // 设置视频参数
            settingCamera(640, 480, 10)
            console.log('选择开启屏幕共享流')

            if (cameraEnable) {
                console.log('先停止推视频流')
                aliWebrtc.unPublish().then((re)=>{
                    console.log('关闭推流')
                    setTimeout(() => {
                        $('.local-display-name .streamstate b').text('当前未推流')
                    },3500)
                    aliWebrtc.publish().then(re=>{
                        console.log(re);
                        $(this).text("停止推流")
                            if(aliWebrtc.configLocalScreenPublish) {
                                $('.local-display-name .streamstate b').text('共享流')
                                $('.control-btn button.toggle-screen').css('visibility', 'visible')
                                $('.control-btn button.toggle-camera').css('visibility', 'hidden')
                            } else {
                                $('.local-display-name .streamstate b').text('视频流')
                                $('.control-btn button.toggle-camera').css('visibility', 'visible')
                                $('.control-btn button.toggle-screen').css('visibility', 'hidden')
                            }
                    }).catch(error => {
                        console.log('错误消息', error.message)
                    })
                } ,(err)=>{
                    console.log('停止相机流，切换出错',err.message);
                });
            }
        }


    })

    /**
     * 推流**/
    var publishStream = function() {

        aliWebrtc.publish().then(re => {
            setTimeout(() => {
                if(aliWebrtc.configLocalScreenPublish) {
                    $('.local-display-name .streamstate b').text('共享流')
                    $('.control-btn button.toggle-screen').css('visibility', 'visible')
                    $('.control-btn button.toggle-camera').css('visibility', 'hidden')
                } else {
                    $('.local-display-name .streamstate b').text('视频流')
                    $('.control-btn button.toggle-camera').css('visibility', 'visible')
                    $('.control-btn button.toggle-screen').css('visibility', 'hidden')
                }
            },3500)
            console.log("推流成功")
        }).catch(err => {
            console.log(err.message)
        });
    }


    /**
     * 处理推流
     */
    $('.publisher .push-stream').click(function(e) {
        if($(this).text() === "开始推流") {
            $(this).text("处理中...")
            aliWebrtc
                .publish()
                .then(re => {
                    setTimeout(() => {
                        $(".streamType").css({
                            visibility: "hidden"
                        })
                        $(this).text("停止推流")
                        if(aliWebrtc.configLocalScreenPublish) {
                            $('.local-display-name .streamstate b').text('共享流')
                            $('.control-btn button.toggle-screen').css('visibility', 'visible')
                            $('.control-btn button.toggle-camera').css('visibility', 'hidden')
                        } else {
                            $('.local-display-name .streamstate b').text('视频流')
                            $('.control-btn button.toggle-camera').css('visibility', 'visible')
                            $('.control-btn button.toggle-screen').css('visibility', 'hidden')
                        }
                    },3500)
                })
                .catch(err => {
                    console.log(err.message)
                });

        }else if($(this).text() === "停止推流") {
            $(this).text("处理中...")
            aliWebrtc.unPublish().then((re)=>{
                setTimeout(() => {
                    $(".streamType").css({
                        visibility: "visible"
                    })
                    $(this).text("开始推流")
                    $('.local-display-name .streamstate b').text('当前未推流')
                },3500)
            } ,(err)=>{
                console.log('错误信息',err.message);
            });
        }else {
            return
        }
    });

    /**
     * 设置视频流的参数**/
    var settingCamera = function(width, height, frameRate) {
        // 1, 获取设备信息
        aliWebrtc.getDevices().then((re) => {
            console.log('获取的设备信息', re)
            let deviceVideoId = re.videoDevices[0].deviceId
            aliWebrtc.getAvailableResolutions(deviceVideoId).then((re) => {
                console.log('可支持的分辨率', re)
            }).catch((error) => {
                console.log(error.message)
            })
        }).catch((error) => {
            console.log(error.message)
        })

        // 2，获取可支持的分辨率
        aliWebrtc.getAvailableResolutions()

        aliWebrtc.videoProfile = {
            frameRate: frameRate,
            width: width,
            height: height,
        }
    }


     /**
     * 控制是否显示XX流
     * **/
    $("div.control-btn").on('click', 'button', function (e) {
        let classList = $(this)[0].classList
        let info = $(this).attr("data-role")
        let status = classList[1]
        console.log(classList[1], info)
        if (info === "audio") {
            console.log('调用接口，关闭声音')
            aliWebrtc.configLocalAudioPublish = toggleStream(status, '打开音频流', '关闭音频流', $(this))
            console.log('声音状态', aliWebrtc.configLocalAudioPublish)
            aliWebrtc.publish().then(re => {
                console.log('修改成功')
            }).catch(err => {
                console.log('修改失败')
            })

        }  else if (info === "camera") {
            console.log("调用接口，关闭视频流")
            aliWebrtc.configLocalCameraPublish = toggleStream(status, '打开视频流', '关闭视频流', $(this))
            console.log('视频流状态',aliWebrtc.configLocalCameraPublish)
            aliWebrtc.publish().then(re => {
                console.log('修改成功')
            }).catch(err => {
                console.log('修改失败')
            })

        } else if (info === "screen") {
            console.log("调用接口，关闭共享流")
            aliWebrtc.configLocalScreenPublish = toggleStream(status, '打开共享流', '关闭共享流', $(this))
            console.log('共享流状态', aliWebrtc.configLocalScreenPublish)
            aliWebrtc.publish().then(re => {
                console.log('修改成功')
            }).catch(err => {
                console.log('修改失败')
            })
        }
    })



    /**
     * 是否切换button名**/
    var toggleStream = function(status, text1, text2, elem) {
        if (status === 'default') {
            elem.removeClass("default").text(text1)
            return false
        }
        elem.addClass('default').text(text2)
        return true
    }


    /**
     * 页面刷新时调用离会
     */
    window.onbeforeunload = function (e) {
        aliWebrtc.leaveChannel();
        aliWebrtc.dispose();
    };
</script>

<script>
    // 改变右侧的在线人数的样式
    $(".video-container").on('click','div.remote-subscriber', function () {
        $(this).attr('class', 'remote-subscriber-active')
        $(this).siblings().removeClass('remote-subscriber-active').addClass('remote-subscriber')
        // local-video video 的样式也要修改
        $(".local-video video").addClass('active')
    })

    // 改变localvideo的样式
    $(".local-video video").click(function () {
        if ($(this).hasClass('active')) {
            $(this).removeClass('active')
            $(".video-container .remote-subscriber-active").attr('class', 'remote-subscriber')
        }
    })
</script>

