<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% from 'include_base.html' import css_js %}
    {{ css_js() }}
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
    <title>座机</title>
    <style>
        * {
            margin: 1px;
            padding: 0;

        }
        .seat {
            width: 150px;
            height: 100px;
            border: 1px solid green;
            display: inline-block;
        }
        p {
            display: inline;
        }

        .example {
            width: 200px;
            height: 400px;
            border: 1px bold green;
        }
        .blank {
            width: 300px;
            height: 100px;
        }
        .conference {
            display: inline-block;
            border: 1px solid black;
            width: 150px;
            height: 100px;
        }
        .priority-setting {
            display: inline-block;
            margin: 10px 10px;
        }
    </style>
</head>
<body>
    <!--左侧导航栏-->
    {% include 'include_base.html' %}

    <!--显示所有的分机-->
    <div class="class-seats">
        {%for seat in seats%}
        <div class="seat" style="display: inline-block">
            <div class="sn">{{seat.number}}</div>
            <p><button class="p-{{seat.number}} button-seat">拨打</button></p>
            <p class="status">离线</p>
        </div>
        {%endfor%}
    </div>


    <!--空白距离-->
    <div class="blank"></div>


    <!--第三方会议-->
<!--    <div>拉入第三方，进行电话会议，你是会议主持人</div>-->
<!--    {%for seat in seats%}-->
<!--    <div class="conference">-->
<!--        <div class="sn">{{seat.number}}</div>-->
<!--        <p></p>-->
<!--        <p><button class="c-{{seat.number}}">拨打</button></p>-->
<!--        <p class="p-{{seat.number}}">状态</p>-->
<!--    </div>-->
<!--    {%endfor%}-->


    <div class="blank"></div>


    <!--分机优先级-->
    <p>分机优先级设定,数字越小优先级越高</p>
    <div>
        <div class="priority-setting">
            <p>213</p>
            <select class="select">
                <option value="213-1">1</option>
                <option value="213-2">2</option>
                <option value="213-3">3</option>
            </select>
        </div>

        <div class="priority-setting">
            <p>214</p>
            <select class="select">
                <option value="214-1">1</option>
                <option value="214-2">2</option>
                <option value="214-3">3</option>
            </select>
        </div>

        <div class="priority-setting">
            <p>215</p>
            <select class="select">
                <option value="215-1">1</option>
                <option value="215-2">2</option>
                <option value="215-3">3</option>
            </select>
        </div>
        <button class="bt-priority">优先级设定</button>
    </div>
    </div>

<script>
    var log = console.log.bind(console)
    var url = "/"
    console.log(url);
    var socket = io.connect(url);

    // 替换字符串
    var replaceString = function (s) {
        if (s === 'online') {
            return '在线'
        } else if (s === 'idle') {
            return '空闲'
        } else if (s === 'busy') {
            return '忙碌'
        }
    }

    // 主动请求分机状态
    var phoneStatus = function() {
        $.ajax({
            type:"post",
            url:"/seat_status",
            success: function(r) {
                var result = r
                var seats = Object.keys(result)                 // 将字典的key组成数组
                for (var i = 0; i < seats.length; i++) {
                    $('.seat').each(function() {
                        var $divNum = $(this).children('.sn').text()
                        if(seats[i] === $divNum) {
                            let s = seats[i]
                            var seat = result[s]
                            var status = replaceString(seat)
                            $(this).children('.status').text(status)
                        }
                    })
                }
            }
        })
    }

    phoneStatus()

    // 接收分机状态的转变
    socket.on('phone_status', function(data){
        log('状态转变', data)
        var number = data['id']
        var status = data['phone_status']
        $('.seat').each(function() {
            var $divNum = $(this).children('.sn').text()
            if(number === $divNum) {
                log('num', number)
                $(this).children('.status').text(status)
            }
        })
        // var class = '-' + data['id']
        // console.log('分机状态转变成', data['phone_status'])
        // $('.class').text('状态'+data['phone_status'])
    })

    var sp = {}
    $('.bt-priority').click(function() {
        $('select').each(function() {
            var o =$(this).val()                                // 这个val()函数是可以拿到选择的option
            spilted(o)
            console.log(sp)

        })
    })

    var sendData = function() {
        socket.emit('priority', data=sp);
    }

    $('.bt-priority').click(function() {
        console.log('等待0.5s后发送数据...')
        setTimeout("sendData()", 500)
    })


    var spilted = function(str) {                           // 切割字符串，加入字典
        var array = str.split("-")
        console.log(array[0])
        var seat = array[0]
        sp[seat] = array[1]
    }



<!--    var url = "/"-->
<!--    console.log(url);-->
<!--    var socket = io.connect(url);-->

    // 两个分机之间通话
    $('.seat').on('click', '.button-seat', function () {
        var pid = $(this).parent().prev().text()
        var numberPid = Number(pid)
        console.log('点击的按钮', numberPid)
        socket.emit('conference', {'phone': numberPid})
    })

    // $('.p-213').click(function(){
    //     console.log('点击213按钮')
    //     socket.emit('conference',{'phone': 213});
    //     $('.c-213').attr('disabled', true);               //让重复第三方按钮失效
    // })
    //
    // $('.p-214').click(function(){
    //     console.log('点击214按钮')
    //     socket.emit('conference',{'phone': 214});
    //     $('.c-214').attr('disabled', true);               //让重复第三方按钮失效
    // })
    //
    // $('.p-215').click(function(){
    //     console.log('点击215按钮')
    //     socket.emit('conference',{'phone': 215});
    //     $('.c-215').attr('disabled', true);               //让重复第三方按钮失效
    // })


    /* 让第三方加入会话 */
    $('.c-213').click(function(){
        console.log('tp3-212 hold请求，呼叫第三方，电话会议')
        socket.emit('hold', {'hphone': 213});            // 发送212的hold请求
    })

    $('.c-214').click(function(){
        console.log('tp4-212 hold请求，呼叫第三方，电话会议')
        socket.emit('hold', {'hphone': 214});
    })

    $('.c-215').click(function(){
        console.log('tp5-212 hold请求，呼叫第三方，电话会议')
        socket.emit('hold', {'hphone': 215});
    })



</script>
</body>
</html>